<%= form_tag search_path, :remote => true do %>
  <%= label_tag 'search' %>
  <%= text_field_tag 'commit' %>
<% end %>

<div class="float" id="map_container">
<%= render :partial => 'map', :locals => {:lat => 40.7, :long => -73.98, :zoom => 12} %>
</div>

<div class="float">
<%= form_tag plot_path, :remote => true do %>

  <% Subway.find(:all, :select => "distinct line").each do |t| %>
    <%= submit_tag t.line %>
  <% end %>

<% end %>
</div>
