<!DOCTYPE html>
<html>
<head>
  <title>Energie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCT3wwLGb57SJxfuGaplXI4z8nJbi9vvNI&sensor=false" %> 

  <%= csrf_meta_tags %>
</head>
<body>
  <header><h1>Energie</h1></header>
  <div id="subtitle"><h2>a dynamic rendering of energy consumption in the city of New York</h2></div>

<%= yield %>

</body>
</html>
